.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.gal-image1, .gal-image2, .gal-image3, .gal-image4, .gal-image5, .gal-image6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center; }

.gal-image1:hover, .gal-image2:hover, .gal-image3:hover, .gal-image4:hover, .gal-image5:hover, .gal-image6:hover {
  cursor: pointer; }
  .gal-image1:hover .link, .gal-image2:hover .link, .gal-image3:hover .link, .gal-image4:hover .link, .gal-image5:hover .link, .gal-image6:hover .link {
    transform: scale(1.3); }

.link a, .gal-image2 .link a, .gal-image3 .link a, .gal-image4 .link a, .gal-image5 .link a, .gal-image6 .link a {
  text-decoration: none;
  color: white; }

.link, .gal-image2 .link, .gal-image3 .link, .gal-image4 .link, .gal-image5 .link, .gal-image6 .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #343433;
  border-radius: 50%;
  padding: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  transition: all .3s; }
  .link a img, .gal-image2 .link a img, .gal-image3 .link a img, .gal-image4 .link a img, .gal-image5 .link a img, .gal-image6 .link a img {
    width: 40px;
    height: 40px; }

.wrapper {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh; }
  @media (max-width: 960px) {
    .wrapper {
      min-height: 65vh; } }

.navbar {
  display: flex;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between; }
  @media (max-width: 666px) {
    .navbar {
      width: 90%; } }
  .navbar p {
    color: white;
    font-size: 25px;
    margin: 0px;
    text-transform: uppercase; }
    @media (max-width: 960px) {
      .navbar p {
        font-size: 17px; } }
  .navbar img {
    height: 50px;
    width: 50px; }
    @media (max-width: 960px) {
      .navbar img {
        height: 40px;
        width: 40px; } }
  .navbar i {
    color: white;
    padding: 10px;
    font-size: 30px; }
    @media (min-width: 960px) {
      .navbar i {
        display: none; } }

ul {
  padding: 0;
  display: flex;
  height: 50px;
  width: 420px;
  justify-content: flex-end; }
  @media (max-width: 960px) {
    ul {
      display: none;
      width: 5%; } }
  ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    padding-top: 15px;
    justify-content: space-between;
    padding: 0 10px; }
    ul li .fa-carat-down {
      color: white; }

.heading {
  margin-top: 200px;
  text-align: center;
  flex-wrap: nowrap;
  height: 30vh;
  color: white; }
  @media (max-width: 960px) {
    .heading {
      margin-top: 90px; } }
  @media (max-width: 760px) {
    .heading {
      margin-top: 25px; } }
  .heading h1 {
    margin: 0;
    font-size: 7.5em;
    font-family: 'Playfair Display', serif; }
    @media (max-width: 960px) {
      .heading h1 {
        font-size: 5em;
        padding-bottom: 13px; } }
    @media (max-width: 760px) {
      .heading h1 {
        font-size: 3em;
        padding-bottom: 13px; } }
  .heading p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px; }
    @media (max-width: 960px) {
      .heading p {
        font-size: 1.1em;
        margin-top: 9px; } }
    @media (max-width: 760px) {
      .heading p {
        font-size: .8em;
        letter-spacing: 3px; } }
    @media (max-width: 666px) {
      .heading p {
        margin-top: 10px; } }
  .heading img {
    height: 75px;
    width: 85px;
    align-self: center; }
  .heading hr {
    width: 250px;
    background: white;
    border: 2px solid white; }
  @media (max-width: 768px) {
    .heading .orange-box {
      display: none; } }
  .heading .orange-box .explore {
    text-transform: uppercase;
    font-size: 10px;
    padding: 20px;
    background: #DC7725;
    border-radius: 2px;
    margin-top: 110px; }
    @media (max-width: 960px) {
      .heading .orange-box .explore {
        margin-top: 10px; } }
    .heading .orange-box .explore p {
      padding-top: 0px;
      margin: 0px; }
  .heading .orange-box img.point {
    height: 14px;
    width: 50px;
    align-self: center; }

body {
  margin: 0; }
  @media (max-width: 900px) {
    body {
      background: #D1D1C9; } }

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif; }

.row {
  display: flex;
  height: 420px;
  width: 100%; }
  @media (max-width: 900px) {
    .row {
      height: 400px; } }
  @media (max-width: 666px) {
    .row {
      flex-direction: column;
      height: 107vh; } }

.gal-image1 {
  background-image: url("../img/raft.jpg");
  background-size: cover;
  height: 450px;
  width: 50%; }
  .gal-image1 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image1 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image1 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; }
      .gal-image1 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image1 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }
  @media (max-width: 760px) {
    .gal-image1 {
      margin-top: 39px; }
      .gal-image1 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image1 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }

@media (max-width: 900px) {
  .link {
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 30px;
    width: 30px; }
    .link a img {
      height: 34px;
      width: 34px; } }
@media (max-width: 666px) {
  .link {
    margin-bottom: 15px; } }

.gal-image2 {
  background-image: url("../img/camp.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  .gal-image2 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image2 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image2 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; }
      .gal-image2 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image2 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }
  @media (max-width: 760px) {
    .gal-image2 {
      margin-top: 39px; }
      .gal-image2 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image2 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }
  @media (max-width: 900px) {
    .gal-image2 .link {
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 30px;
      width: 30px; }
      .gal-image2 .link a img {
        height: 34px;
        width: 34px; } }
  @media (max-width: 666px) {
    .gal-image2 .link {
      margin-bottom: 15px; } }

.gal-image3 {
  background-image: url("../img/lady.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  .gal-image3 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image3 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image3 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; }
      .gal-image3 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image3 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }
  @media (max-width: 760px) {
    .gal-image3 {
      margin-top: 39px; }
      .gal-image3 hr {
        align-self: flex-start;
        background: #DC7725;
        border: 2px solid #DC7725;
        margin-left: 20px;
        width: 40px; }
      .gal-image3 p {
        align-self: flex-start;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 0px;
        text-transform: uppercase; } }
  @media (max-width: 900px) {
    .gal-image3 .link {
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 30px;
      width: 30px; }
      .gal-image3 .link a img {
        height: 34px;
        width: 34px; } }
  @media (max-width: 666px) {
    .gal-image3 .link {
      margin-bottom: 15px; } }

.gal-image4 {
  background-image: url("../img/canoe.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  .gal-image4 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image4 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image4 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; } }
  @media (max-width: 760px) {
    .gal-image4 {
      margin-top: 39px; } }
  @media (max-width: 900px) {
    .gal-image4 .link {
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 30px;
      width: 30px; }
      .gal-image4 .link a img {
        height: 34px;
        width: 34px; } }
  @media (max-width: 666px) {
    .gal-image4 .link {
      margin-bottom: 15px; } }

.gal-image5 {
  background-image: url("../img/photo.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  .gal-image5 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image5 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image5 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; } }
  @media (max-width: 760px) {
    .gal-image5 {
      margin-top: 39px; } }
  @media (max-width: 900px) {
    .gal-image5 .link {
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 30px;
      width: 30px; }
      .gal-image5 .link a img {
        height: 34px;
        width: 34px; } }
  @media (max-width: 666px) {
    .gal-image5 .link {
      margin-bottom: 15px; } }

.gal-image6 {
  width: 50%;
  background-image: url("../img/custom.jpg");
  background-size: cover;
  height: 450px;
  width: 50%; }
  .gal-image6 hr {
    align-self: flex-start;
    background: #DC7725;
    border: 2px solid #DC7725;
    margin-left: 20px;
    width: 40px; }
  .gal-image6 p {
    align-self: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase; }
  @media (max-width: 900px) {
    .gal-image6 {
      height: 50vh;
      width: 90%;
      margin: 20px auto 0px auto; } }
  @media (max-width: 760px) {
    .gal-image6 {
      margin-top: 39px;
      margin-bottom: 20px; } }
  @media (max-width: 666px) {
    .gal-image6 {
      margin-bottom: 20px; } }
  @media (max-width: 900px) {
    .gal-image6 .link {
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 30px;
      width: 30px; }
      .gal-image6 .link a img {
        height: 34px;
        width: 34px; } }
  @media (max-width: 666px) {
    .gal-image6 .link {
      margin-bottom: 15px; } }

.lower-navbar {
  width: 100%;
  height: 90px;
  background: #343433;
  display: flex; }
  .lower-navbar ul {
    margin: 35px 0 0 50px;
    width: 78%;
    justify-content: flex-start; }
  .lower-navbar li {
    text-transform: capitalize;
    padding-left: 25px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    color: #c4c4c4;
    font-size: 15px;
    letter-spacing: 1px; }
    .lower-navbar li:hover {
      cursor: pointer; }
    .lower-navbar li i {
      color: white; }
  .lower-navbar li:first-child {
    color: white;
    font-weight: bold; }
  .lower-navbar li:last-child {
    color: #DC7725; }
    .lower-navbar li:last-child i {
      color: #DC7725;
      padding-left: 5px; }
  .lower-navbar a {
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;
    justify-content: flex-end;
    color: #c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
    .lower-navbar a i {
      padding-left: 20px;
      font-size: 20px;
      color: gray; }
  @media (max-width: 960px) {
    .lower-navbar {
      display: none; } }

/*# sourceMappingURL=application.css.map */
