.gal-image1, .gal-image2, .gal-image3, .gal-image4, .gal-image5, .gal-image6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center; }

.gal-image1:hover, .gal-image2:hover, .gal-image3:hover, .gal-image4:hover, .gal-image5:hover, .gal-image6:hover {
  cursor: pointer; }
  .gal-image1:hover .link, .gal-image2:hover .link, .gal-image3:hover .link, .gal-image4:hover .link, .gal-image5:hover .link, .gal-image6:hover .link {
    transform: scale(1.3); }

.link a, .gal-image2 .link a, .gal-image3 .link a, .gal-image4 .link a, .gal-image5 .link a, .gal-image6 .link a {
  text-decoration: none;
  color: white; }

.gal-image1 hr, .gal-image2 hr, .gal-image3 hr, .gal-image4 hr, .gal-image5 hr, .gal-image6 hr {
  align-self: flex-start;
  background: #DC7725;
  border: 2px solid #DC7725;
  margin-left: 20px;
  width: 40px; }
.gal-image1 p, .gal-image2 p, .gal-image3 p, .gal-image4 p, .gal-image5 p, .gal-image6 p {
  align-self: flex-start;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-transform: uppercase; }

.link, .gal-image2 .link, .gal-image3 .link, .gal-image4 .link, .gal-image5 .link, .gal-image6 .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px;
  background-color: #343433;
  border-radius: 50%;
  padding: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  transition: all .3s; }
  .link a img, .gal-image2 .link a img, .gal-image3 .link a img, .gal-image4 .link a img, .gal-image5 .link a img, .gal-image6 .link a img {
    width: 40px;
    height: 40px; }

.wrapper {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh; }

.navbar {
  display: flex;
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between; }
  .navbar p {
    color: white;
    font-size: 30px;
    margin: 0px; }
  .navbar img {
    width: 50px;
    height: 50px; }
  .navbar i {
    color: white;
    padding: 10px;
    font-size: 30px; }
    @media (min-width: 960px) {
      .navbar i {
        display: none; } }

ul {
  padding: 0;
  display: flex;
  height: 50px;
  width: 420px;
  justify-content: flex-end; }
  ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    padding-top: 15px;
    justify-content: space-between;
    padding: 0 10px; }
    @media (max-width: 960px) {
      ul li {
        display: none; } }
    ul li .fa-carat-down {
      color: white; }

.heading {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 30vh;
  color: white; }
  .heading h1 {
    margin: 0;
    font-size: 7.5em;
    font-family: 'Playfair Display', serif; }
  .heading p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px; }
  .heading img {
    height: 75px;
    width: 85px;
    align-self: center; }
  .heading hr {
    width: 250px;
    background: white;
    border: 2px solid white; }
  @media (max-width: 760px) {
    .heading .orange-box {
      display: none; } }
  .heading .orange-box .explore {
    text-transform: uppercase;
    font-size: 10px;
    padding: 20px;
    background: #DC7725;
    border-radius: 2px;
    margin-top: 110px; }
    .heading .orange-box .explore p {
      padding-top: 0px;
      margin: 0px; }
  .heading .orange-box img.point {
    height: 14px;
    width: 50px;
    align-self: center; }

body {
  margin: 0; }

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif; }

.row {
  display: flex;
  width: 100%;
  height: 420px; }
  @media (max-width: 666px) {
    .row {
      flex-direction: column;
      height: 80vh; } }

.gal-image1 {
  background-image: url("../img/raft.jpg");
  background-size: cover;
  height: 450px;
  width: 50%; }
  @media (max-width: 666px) {
    .gal-image1 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.gal-image2 {
  background-image: url("../img/camp.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image2 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.gal-image3 {
  background-image: url("../img/lady.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image3 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.gal-image4 {
  background-image: url("../img/canoe.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image4 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.gal-image5 {
  background-image: url("../img/photo.jpg");
  background-size: cover;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image5 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.gal-image6 {
  width: 50%;
  background-image: url("../img/custom.jpg");
  background-size: cover;
  height: 450px;
  width: 50%; }
  @media (max-width: 666px) {
    .gal-image6 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }

.lower-navbar {
  width: 100%;
  height: 90px;
  background: #343433;
  display: flex; }
  .lower-navbar ul {
    margin: 0;
    margin-left: 50px;
    margin-top: 35px;
    width: 78%;
    justify-content: flex-start; }
  .lower-navbar li {
    text-transform: capitalize;
    padding-left: 25px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    color: #c4c4c4;
    font-size: 15px;
    letter-spacing: 1px; }
    .lower-navbar li:hover {
      cursor: pointer; }
    .lower-navbar li i {
      color: white; }
  .lower-navbar li:first-child {
    color: white;
    font-weight: bold; }
  .lower-navbar li:last-child {
    border-left: 2px solid #c4c4c4;
    color: #DC7725; }
    .lower-navbar li:last-child i {
      color: #DC7725;
      padding-left: 5px; }
  .lower-navbar a {
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;
    justify-content: flex-end;
    color: #c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
    .lower-navbar a i {
      padding-left: 20px;
      font-size: 20px;
      color: gray; }
  @media (max-width: 960px) {
    .lower-navbar {
      display: none; } }

/*# sourceMappingURL=application.css.map */
