body {
  margin: 0;
  @media (max-width: 666px) {
    background: $second-li;
  }
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
}

.row {
  display: flex;
  @include dimensions(420px, 100%);
  @media (max-width: 666px) {
    flex-direction: column;
    height: 80vh;
  }
}

.gal-image1 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/raft.jpg');
  @include img-size(cover, 450px, 50%);
  @extend %gal-hr-p;
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
      @media (max-width: 666px) {
        .link {
          transform: scale(1.3);
        }
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }


.gal-image2 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/camp.jpg');
  @extend %gal-hr-p;
  @include img-size(cover, 450px, 25%);
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
    @media (max-width: 666px) {
      .link {
        transform: scale(1.3);
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.gal-image3 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/lady.jpg');
  @extend %gal-hr-p;
  @include img-size(cover, 450px, 25%);
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
    @media (max-width: 666px) {
      .link {
        transform: scale(1.3);
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.gal-image4 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/canoe.jpg');
  @include img-size(cover, 450px, 25%);
  @extend %gal-hr-p;
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
    @media (max-width: 666px) {
      .link {
        transform: scale(1.3);
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.gal-image5 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/photo.jpg');
  @extend %gal-hr-p;
  @include img-size(cover, 450px, 25%);
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
    @media (max-width: 666px) {
      .link {
        transform: scale(1.3);
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.gal-image6 {
  @extend %gal-image-flex;
  width: 50%;
  background-image: url('#{$path-img}/custom.jpg');
  @include img-size(cover, 450px, 50%);
  @extend %gal-hr-p;
  @media (max-width: 666px) {
    @include dimensions(82vh, 90%);
    margin: 20px auto;
  }
  &:hover {
    @extend %circle-hover;
    @media (max-width: 666px) {
      .link {
        transform: scale(1.3);
      }
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 666px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 30px;
      height: 30px;
      a {
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}
