body {
  margin: 0;
  @media (max-width: 900px) {
    background: $body-background;
  }
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
}

.row {
  display: flex;
  @include dimensions(420px, 100%);
  @media (max-width: 900px) {
    height: 400px;
  }
  @media (max-width: 666px) {
    flex-direction: column;
    height: 107vh;
  }
}

.gal-image1 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/raft.jpg');
  @include img-size(cover, 450px, 50%);
  @include gal-hr-p-row(60px);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
    @include gal-hr-p-row(30px);
  }
  @media (max-width: 760px) {
    margin-top: 39px;
    @include gal-hr-p-row(30px);
  }
  &:hover {
    @extend %circle-hover;
    }
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 900px) {

    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }


.gal-image2 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/camp.jpg');
  @include gal-hr-p-row(60px);
  @include img-size(cover, 450px, 25%);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
    @include gal-hr-p-row(30px);
  }
  @media (max-width: 760px) {
    margin-top: 39px;
    @include gal-hr-p-row(30px);
  }
  &:hover {
    @extend %circle-hover;
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }
}

.gal-image3 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/lady.jpg');
  @include gal-hr-p-row(60px);
  @include img-size(cover, 450px, 25%);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
    @include gal-hr-p-row(30px);
  }
  @media (max-width: 760px) {
    margin-top: 39px;
    @include gal-hr-p-row(30px);
  }
  &:hover {
    @extend %circle-hover;
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }
}

.gal-image4 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/canoe.jpg');
  @include img-size(cover, 450px, 25%);
  @include gal-hr-p-row(30px);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
  }
  @media (max-width: 760px) {
    margin-top: 39px;
  }
  &:hover {
    @extend %circle-hover;
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }
}

.gal-image5 {
  @extend %gal-image-flex;
  background-image: url('#{$path-img}/photo.jpg');
  @include gal-hr-p-row(30px);
  @include img-size(cover, 450px, 25%);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
  }
  @media (max-width: 760px) {
    margin-top: 39px;
  }
  &:hover {
    @extend %circle-hover;
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }
}

.gal-image6 {
  @extend %gal-image-flex;
  width: 50%;
  background-image: url('#{$path-img}/custom.jpg');
  @include img-size(cover, 450px, 50%);
  @include gal-hr-p-row(30px);
  @media (max-width: 900px) {
    @include dimensions(50vh, 90%);
    margin: 20px auto 0px auto;
  }
  @media (max-width: 760px) {
    margin-top: 39px;
    margin-bottom: 20px;
  }
  @media (max-width: 666px) {
    margin-bottom: 20px;
  }
  &:hover {
    @extend %circle-hover;
  }
  .link {
    @extend %link-flex;
    @media (max-width: 900px) {
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include dimensions(30px, 30px);
      a {
        img {
          @include dimensions(34px, 34px);
        }
      }
    }
    @media (max-width: 666px) {
      margin-bottom: 15px;
    }
  }
}
