.heading {
  @extend %heading-flex;
  margin-top: 200px;
  text-align: center;
  flex-wrap: nowrap;
  height: 30vh;
  color: white;
  @media (max-width: 960px) {
    margin-top: 90px;
  }
  @media (max-width: 760px) {
    margin-top: 25px;
  }
  @media (max-width: 666px) {
    margin-top: 25px;
  }
  h1 {
    margin: 0;
    font-size: 7.5em;
    font-family: 'Playfair Display', serif;
    @media (max-width: 960px) {
      font-size: 5em;
      padding-bottom: 13px;
    }
    @media (max-width: 760px) {
      font-size: 3em;
      padding-bottom: 13px;
    }
  }
  p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px;
    @media (max-width: 960px) {
      font-size: 1.1em;
      margin-top: 9px;
    }
    @media (max-width: 760px) {
      font-size: .8em;
      letter-spacing: 3px;
    }
    @media (max-width: 666px) {
      margin-top: 10px;
    }
  }
  img {
    @include dimensions(75px, 85px);
    align-self: center;
  }

  hr {
    width: 250px;
    background: white;
    border: 2px solid white;
  }

  .orange-box {
    @media (max-width: 768px) {
      display: none;
    }
    .explore {
      text-transform: uppercase;
      font-size: 10px;
      padding: 20px;
      background: $accent-orange;
      border-radius: 2px;
      margin-top: 110px;
      @media (max-width: 960px) {
        margin-top: 10px;
      }
      p {
        padding-top: 0px;
        margin: 0px;
      }
    }
    img.point {
      height: 14px;
      width: 50px;
      align-self: center;
    }
  }
}
