.wrapper {
  background-image: url('#{$path-img}/hero.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  @media (max-width: 960px) {
    min-height: 65vh;
  }
}

.navbar {
  display:flex;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  @media (max-width: 666px) {
    width: 90%;
  }

  p {
    color: white;
    font-size: 25px;
    margin: 0px;
    text-transform: uppercase;
    @media (max-width: 960px) {
      font-size: 17px;
    }
  }
  img {
    @include dimensions(50px, 50px);
    @media (max-width: 960px) {
      @include dimensions(40px, 40px);
    }
  }

  i {
    color: white;
    padding: 10px;
    font-size: 30px;
    @media (min-width: 960px) {
      display: none;
    }
  }
}


ul {
  padding: 0;
  display: flex;
  @include dimensions(50px, 420px);
  justify-content: flex-end;
  @media (max-width: 960px) {
    display: none;
    width: 5%;
  }

  li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    padding-top: 15px;
    justify-content: space-between;
    padding: 0 10px;

    .fa-carat-down {
      color: white;
    }
  }
}
