.wrapper {
  background-image: url('#{$path-img}/hero.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.navbar {
  display:flex;
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;

  p {
    color: white;
    font-size: 30px;
    margin: 0px;
  }
  img {
    width:50px;
    height: 50px;
  }

  i {
    color: white;
    padding: 10px;
    font-size: 30px;
    @media (min-width: 960px) {
      display: none;
    }
  }
}


ul {
  padding: 0;
  display: flex;
  height: 50px;
  width: 420px;
  justify-content: flex-end;

  li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 10px;
    padding-top: 15px;
    justify-content: space-between;
    @media (max-width: 960px) {
      display: none;
    }
  }
}
